$variant: 'light';
$titlebar: 'light';
$compact: 'true';
$radius: 'circle';

@import '../../_sass/variables';
@import '../../_sass/colors';
@import '../../_sass/gtk/drawing-3.0';
@import '../../_sass/gtk/common-3.0';
@import '../../_sass/gtk/apps-3.0';
@import '../../_sass/gtk/colors-public';
