$variant: 'dark';
$titlebar: 'dark';
$compact: 'false';
$radius: 'circle';
$color: 'default';

@import '../../_sass/variables';
@import '../../_sass/colors';
@import '../../_sass/gtk/drawing-3.0';
@import '../../_sass/gtk/common-3.0';
@import '../../_sass/gtk/apps-3.0';
@import '../../_sass/gtk/colors-public';
