$variant: 'light';
$titlebar: 'light';
$compact: 'true';

@import '../_sass/variables';
@import '../_sass/colors';
@import '../_sass/gnome-shell/drawing';
@import '../_sass/gnome-shell/common';
@import '../_sass/gnome-shell/extensions';
