$variant: 'light';
$titlebar: 'dark';
$compact: 'false';
$color: 'default';

@import '../_sass/variables';
@import '../_sass/colors';
@import '../_sass/gnome-shell/drawing';
@import '../_sass/gnome-shell/common';
@import '../_sass/gnome-shell/extensions';
