$variant: 'light';
$titlebar: 'light';
$compact: 'false';
$color: 'default';

@import '../../_sass/variables';
@import '../../_sass/colors';
@import '../../_sass/gnome-shell/drawing';
@import '../../_sass/gnome-shell/common-3-36';
@import '../../_sass/gnome-shell/extensions-3-36';
